<div style="position: absolute; top:0px; bottom:0px; left:0px; right:0px;">
  <as-split direction="horizontal">
    <as-split-area size="20">
      Filter
      <input id="filter" placeholder="filter nodes" />
      <button mat-flat-button>Clear Filter</button>
      <tree-root #treeRoot [nodes]="nodes" [options]="options">
        <ng-template #treeNodeTemplate let-node let-index="index">
          <span (mouseover)="mouseOverTree($event)" [attr.data-node-id]="node.data.id"
            [attr.data-node-parent]="setAttributeParentTreeNode(node)">{{node.data.name}}</span>
        </ng-template>
      </tree-root>
    </as-split-area>
    <as-split-area size="80" fxLayout="column" fxLayoutAlign="stretch">
      <mat-toolbar fxFlex="64px" color="primary">
        <mat-toolbar-row>
          <button mat-flat-button matTooltip="New InterfaceTypes diagram">InterfaceTypes</button>
          &nbsp;&nbsp;
          <button mat-flat-button matTooltip="New Processors diagram">Processors</button>
          <button mat-icon-button matTooltip="Generate into spreadsheet (overwrite workbook)">
            <mat-icon matListIcon>arrow_forward</mat-icon>
          </button>
          <button mat-icon-button matTooltip="Read from spreadsheet (overwrite diagrams)">
            <mat-icon matListIcon>arrow_back</mat-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
      <div fxFlex style="border: 2px solid red;">
        <mat-tab-group id="diagramEditorTab" animationDuration="0ms" fxFlex="auto" style="border: 1px solid orange">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>thumb_up</mat-icon>
              Interface Types diagram #1
              <button mat-icon-button>
                <mat-icon matListIcon>close</mat-icon>
              </button>
            </ng-template>

            <app-interfacetypes-diagram-component></app-interfacetypes-diagram-component>
            <!--      <div #graphContainer1 id="graphContainer1"></div>-->
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              Processors diagram #1
              <button mat-icon-button>
                <mat-icon matListIcon>close</mat-icon>
              </button>
            </ng-template>
            <app-processors-diagram-component [treeProccesorSubject]="treeProccesorSubject"></app-processors-diagram-component>
            <!--      <div #graphContainer2 id="graphContainer2"></div>-->
          </mat-tab>
        </mat-tab-group>
      </div>
    </as-split-area>
  </as-split>
</div>