::ng-deep .vertical-center-modal {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  ::ng-deep .vertical-center-modal .ant-modal {
    top: 0;
  }
  
  ::ng-deep .mat-tab-body-wrapper {
    flex: 1 1 100%;
  }