<div style="position: absolute; top:0px; bottom:0px; left:0px; right:0px;">
  <as-split direction="horizontal">
    <as-split-area size="20">
      Filter
      <input id="filter" placeholder="filter nodes" />
      <button mat-flat-button>Clear Filter</button>

      <!-- Tree root -->
      <tree-root (updateData)="updateDataTree($event)" #treeRoot [nodes]="nodes" [options]="options">

        <ng-template #treeNodeTemplate let-node let-index="index">
          <span (mouseover)="mouseOverTree($event)" [attr.data-node-id]="node.data.id"
            [attr.data-node-parent]="getParentTreeNode(node)">{{node.data.name}}</span>
        </ng-template>
        <ng-template #treeNodeWrapperTemplate let-node let-index="index">

          <div *ngIf="getParentTreeNode(node) == 'none'" class="node-wrapper"
            [style.padding-left]="node.getNodePadding()">
            <tree-node-expander [node]="node"></tree-node-expander>
            <div class="node-content-wrapper" [class.node-content-wrapper-active]="node.isActive"
              [class.node-content-wrapper-focused]="node.isFocused" (click)="node.mouseAction('click', $event)"
              (dblclick)="node.mouseAction('dblClick', $event)" (contextmenu)="node.mouseAction('contextMenu', $event)"
              (treeDrop)="node.onDrop($event)" [treeAllowDrop]="node.allowDrop" [treeDrag]="node"
              [treeDragEnabled]="node.allowDrag()">

              <tree-node-content [node]="node" [index]="index" [template]="treeNodeTemplate"></tree-node-content>
            </div>
          </div>

          <!-- Diagrams template tree -->
          <div *ngIf="getParentTreeNode(node) == 'Diagrams'" class="node-wrapper"
            [style.padding-left]="node.getNodePadding()">
            <tree-node-expander [node]="node"></tree-node-expander>
            <div class="node-content-wrapper" [class.node-content-wrapper-active]="node.isActive"
              [class.node-content-wrapper-focused]="node.isFocused" (click)="node.mouseAction('click', $event)"
              (dblclick)="node.mouseAction('dblClick', $event)" (contextmenu)="onContextMenuDiagram($event, node)"
              (treeDrop)="node.onDrop($event)" [treeAllowDrop]="node.allowDrop" [treeDrag]="node"
              [treeDragEnabled]="node.allowDrag()">

              <tree-node-content [node]="node" [index]="index" [template]="treeNodeTemplate"></tree-node-content>
            </div>
          </div>

          <!-- InterfaceType template tree -->
          <div *ngIf="getParentTreeNode(node) == 'InterfaceTypes'" class="node-wrapper"
            [style.padding-left]="node.getNodePadding()">
            <tree-node-expander [node]="node"></tree-node-expander>
            <div class="node-content-wrapper" [class.node-content-wrapper-active]="node.isActive"
              [class.node-content-wrapper-focused]="node.isFocused" (click)="node.mouseAction('click', $event)"
              (dblclick)="node.mouseAction('dblClick', $event)" (contextmenu)="node.mouseAction('contextmenu', $event)"
              (treeDrop)="node.onDrop($event)" [treeAllowDrop]="node.allowDrop" [treeDrag]="node"
              [treeDragEnabled]="node.allowDrag()">

              <tree-node-content [node]="node" [index]="index" [template]="treeNodeTemplate"></tree-node-content>
            </div>
          </div>

          <!-- Processor template tree -->
          <div *ngIf="getParentTreeNode(node) == 'Processors'" class="node-wrapper"
            [style.padding-left]="node.getNodePadding()">
            <tree-node-expander [node]="node"></tree-node-expander>
            <div class="node-content-wrapper" [class.node-content-wrapper-active]="node.isActive"
              [class.node-content-wrapper-focused]="node.isFocused" (click)="node.mouseAction('click', $event)"
              (dblclick)="doubleClickProcessorTree(node)" (contextmenu)="node.mouseAction('contextmenu', $event)"
              (treeDrop)="node.onDrop($event)" [treeAllowDrop]="node.allowDrop" [treeDrag]="node"
              [treeDragEnabled]="node.allowDrag()">

              <tree-node-content [node]="node" [index]="index" [template]="treeNodeTemplate"></tree-node-content>
            </div>
          </div>

        </ng-template>
      </tree-root>

    </as-split-area>

    <as-split-area size="80" fxLayout="column" fxLayoutAlign="stretch">
      <mat-toolbar fxFlex="64px" color="primary">
        <mat-toolbar-row>
          <button mat-flat-button (click)="showFormCreateDiagram('InterfaceTypes')"
            matTooltip="New InterfaceTypes diagram">InterfaceTypes</button>
          &nbsp;&nbsp;
          <button mat-flat-button (click)="showFormCreateDiagram('Processors')"
            matTooltip="New Processors diagram">Processors</button>
          <button mat-icon-button (click)="modelService.exportGraphicalModelToSpreadsheet()"
            matTooltip="Generate into spreadsheet (overwrite workbook)">
            <mat-icon matListIcon>arrow_forward</mat-icon>
          </button>
          <!--          <button mat-icon-button matTooltip="Read from spreadsheet (overwrite diagrams)" >-->
          <!--            <mat-icon matListIcon>arrow_back</mat-icon>-->
          <!--          </button>-->
        </mat-toolbar-row>
      </mat-toolbar>
      <div fxFlex style="border: 2px solid red; height: calc(100% - 64px);">

        <!-- Tabs diagrams -->
        <mat-tab-group id="diagramEditorTab" animationDuration="0ms" fxFlex="auto" style="border: 1px solid orange; height: 100%;">
          <mat-tab *ngFor="let item of tabsDiagram | keyvalue">
            <ng-template mat-tab-label>
              {{item.value.name}}
              <button mat-icon-button (click)="closeTabDiagram(item.key)">
                <mat-icon matListIcon>close</mat-icon>
              </button>
            </ng-template>

            <app-processors-diagram-component *ngIf="item.value.type == 0" [diagramId]="item.value.id"
              [proccesorSubject]="proccesorSubject" (processorForm)="showFormProcessor($event)"
              (createProccesor)="showFormCreateProcessor($event)" [modelService]="modelService"
              (snackBarError)="showSnackBarError($event)" (updateTree)="updateTree()"
              (interfaceForm)="showFormInterface($event, false)" (exchangeForm)="showFormExchange($event)"
              (partOfForm)="showFormPartOf($event)" (scaleForm)="showFormScale($event)">
            </app-processors-diagram-component>
            <app-interfacetypes-diagram-component *ngIf="item.value.type == 1" [diagramId]="item.value.id"
              (createInterfaceType)="showFormCreateInterfaceType($event)"
              (snackBarError)="showSnackBarError($event)" (updateTree)="updateTree()"
              [interfaceTypeSubject]="interfaceTypeSubject" (partOfForm)="showFormPartOf($event)"
              (interfaceTypeScaleForm)="showFormInterfaceTypeScale($event)" (interfaceTypeForm)="showFormInterfaceType($event)">
            </app-interfacetypes-diagram-component>
          </mat-tab>
        </mat-tab-group>

      </div>
    </as-split-area>
  </as-split>

  <!-- Context Menu Diagram-->
  <div style="visibility: hidden; position: fixed" [style.left]="contextMenuDiagramPosition.x"
    [style.top]="contextMenuDiagramPosition.y" [matMenuTriggerFor]="contextMenuDiagram">
  </div>
  <mat-menu #contextMenuDiagram="matMenu">
    <ng-template matMenuContent let-item="item">
      <button mat-menu-item (click)="onContextMenuDiagramDelete(item)">Eliminar</button>
    </ng-template>
  </mat-menu>

  <!-- Modal Create Diagram -->
  <ng-template #formCreateDiagramTitle>
    <span class="title-modal">Create diagram</span>
  </ng-template>
  <ng-template #formCreateDiagramContent>
    <form (submit)="submitCreateDiagram($event)" nz-form>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Name</nz-form-label>
        <nz-form-control [(nzValidateStatus)]="nameValidationFormCreateDiagram" [nzSpan]="18"
          [(nzErrorTip)]="nameErrorTipFormCreateDiagram">
          <input autocomplete="off" [(ngModel)]="nameFormCreateDiagram" type="text" nz-input
            [ngModelOptions]="{standalone: true}" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #formCreateDiagramFooter>
    <button nz-button nzType="danger" (click)="closeModal()">
      Cancel
    </button>
    <button nz-button nzType="primary" (click)="createDiagram()">
      Confirm
    </button>
  </ng-template>

  <!-- Modal Create Processor -->
  <ng-template #formCreateProcessorTitle>
    <span class="title-modal">Create processor</span>
  </ng-template>
  <ng-template #formCreateProcessorContent>
    <form (submit)="submitCreateProcessor($event)" nz-form>
      <nz-form-item>
        <nz-form-label [nzSpan]="5">Name</nz-form-label>
        <nz-form-control [(nzValidateStatus)]="nameValidationFormCreateProcessor" nzErrorTip="The name cannot be empty"
          [nzSpan]="18">
          <input [(ngModel)]="nameFormCreateProcessor" nz-input type="text" [ngModelOptions]="{standalone: true}" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #formCreateProcessorFooter>
    <button nz-button nzType="danger" (click)="closeModal()">
      Cancel
    </button>
    <button nz-button nzType="primary" (click)="createProcessor()">
      Confirm
    </button>
  </ng-template>

  <!-- Modal Processor -->
  <ng-template #formProcessorTitle>
    <span class="title-modal">Edit processor</span>
  </ng-template>
  <ng-template #formProcessorContent>
    <mat-tab-group animationDuration="0ms" fxFlex="auto">

      <mat-tab label="Processor">
        <form (ngSubmit)="submitProcessorForm($event)" nz-form>
          <nz-form-item>
            <nz-form-label [nzSpan]="6">Name</nz-form-label>
            <nz-form-control [nzSpan]="18">
              <input [(ngModel)]="nameFormProcessor" nz-input type="text" [ngModelOptions]="{standalone: true}">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6">Level</nz-form-label>
            <nz-form-control [nzSpan]="18">
              <input [(ngModel)]="levelFormProcessor" nz-input type="text" [ngModelOptions]="{standalone: true}">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6">System</nz-form-label>
            <nz-form-control [nzSpan]="18">
              <input [(ngModel)]="systemFormProcessor" nz-input type="text" [ngModelOptions]="{standalone: true}">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6">Geolocation</nz-form-label>
            <nz-form-control [nzSpan]="18">
              <input [(ngModel)]="geolocationFormProcessor" nz-input type="text" [ngModelOptions]="{standalone: true}">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6">Funct/Struc</nz-form-label>
            <nz-form-control [nzSpan]="18">
              <nz-radio-group [(ngModel)]="functionalOrStructuralFormProcessor" [ngModelOptions]="{standalone: true}">
                <label nz-radio [nzValue]="ProcessorFunctionalOrStructuralEnum.Functional">Functional</label>
                <label nz-radio [nzValue]="ProcessorFunctionalOrStructuralEnum.Structural">Structural</label>
                <label nz-radio [nzValue]="ProcessorFunctionalOrStructuralEnum.Notional">Notional</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6">Accounted</nz-form-label>
            <nz-form-control [nzSpan]="18">
              <nz-radio-group [(ngModel)]="accountedFormProcessor" [ngModelOptions]="{standalone: true}">
                <label nz-radio [nzValue]="ProcessorAccountedEnum.Yes">Yes</label>
                <label nz-radio [nzValue]="ProcessorAccountedEnum.No">No</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6">Subsystem Type</nz-form-label>
            <nz-form-control [nzSpan]="18">
              <nz-radio-group [(ngModel)]="subsystemTypeFormProcessor" [ngModelOptions]="{standalone: true}">
                <label nz-radio [nzValue]="ProcessorSubsystemTypeEnum.Local">Local</label>
                <label nz-radio [nzValue]="ProcessorSubsystemTypeEnum.Environment">Environment</label>
                <label nz-radio [nzValue]="ProcessorSubsystemTypeEnum.External">External</label>
                <label nz-radio [nzValue]="ProcessorSubsystemTypeEnum.ExternalEnvironment">ExternalEnvironment</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6">Description</nz-form-label>
            <nz-form-control [nzSpan]="18">
              <textarea rows="4" nz-input [(ngModel)]="descriptionFormProcessor"
                [ngModelOptions]="{standalone: true}"></textarea>
            </nz-form-control>
          </nz-form-item>
        </form>
      </mat-tab>

      <mat-tab label="Interfaces">
        <nz-list [nzDataSource]="interfacesFormProcessor" nzSize="small" nzBordered [nzRenderItem]="interfaceList"
          [ngStyle]="{'margin-top': '20px'}">
          <ng-template #interfaceList let-item>
            <nz-list-item>
              <nz-list-item-meta [nzTitle]="nzTitle">
                <ng-template #nzTitle>
                  <a (click)="showFormInterface( {cellId : item.id}, true )">{{ item.name }}</a>
                </ng-template>
              </nz-list-item-meta>
            </nz-list-item>
          </ng-template>
        </nz-list>
      </mat-tab>

    </mat-tab-group>
  </ng-template>
  <ng-template #formProcessorFooter>
    <button nz-button nzType="danger" (click)="closeModal()">
      Cancel
    </button>
    <button nz-button nzType="primary" (click)="updateProcessor()">
      Confirm
    </button>
  </ng-template>

  <!-- Modal Create InterfaceType -->
  <ng-template #formInterfaceTypeTitle>
    <span class="title-modal">Edit interface type</span>
  </ng-template>
  <ng-template #formInterfaceTypeContent>
    <form (submit)="submitInterfaceTypeForm($event)" nz-form>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Name</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input autocomplete="off" [(ngModel)]="nameFormInterfaceType" type="text" nz-input
            [ngModelOptions]="{standalone: true}" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Sphere</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-radio-group [(ngModel)]="sphereFormInterfaceType" [ngModelOptions]="{standalone: true}">
            <label nz-radio [nzValue]="SphereEnum.Biosphere">Biosphere</label>
            <label nz-radio [nzValue]="SphereEnum.Technosphere">Technosphere</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Roegen Type</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-radio-group [(ngModel)]="roegenTypeFormInterfaceType" [ngModelOptions]="{standalone: true}">
            <label nz-radio [nzValue]="RoegenTypeEnum.Flow">Flow</label>
            <label nz-radio [nzValue]="RoegenTypeEnum.Fund">Fund</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Opposite Subsystem</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-radio-group [(ngModel)]="oppositeSubsystemTypeFormInterfaceType" [ngModelOptions]="{standalone: true}">
            <label nz-radio [nzValue]="ProcessorSubsystemTypeEnum.Local">Local</label>
            <label nz-radio [nzValue]="ProcessorSubsystemTypeEnum.Environment">Environment</label>
            <label nz-radio [nzValue]="ProcessorSubsystemTypeEnum.External">External</label>
            <label nz-radio [nzValue]="ProcessorSubsystemTypeEnum.ExternalEnvironment">ExternalEnvironment</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Hierarchy</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input autocomplete="off" [(ngModel)]="hierarchyFormInterfaceType" type="text" nz-input
            [ngModelOptions]="{standalone: true}" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Unit</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input autocomplete="off" [(ngModel)]="unitFormInterfaceType" type="text" nz-input
            [ngModelOptions]="{standalone: true}" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Description</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input autocomplete="off" [(ngModel)]="descriptionFormInterfaceType" type="text" nz-input
            [ngModelOptions]="{standalone: true}" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #formInterfaceTypeFooter>
    <button nz-button nzType="danger" (click)="closeModal()">
      Cancel
    </button>
    <button nz-button nzType="primary" (click)="updateInterfaceType()">
      Confirm
    </button>
  </ng-template>

  <!-- Modal Interface Form -->
  <ng-template #formInterafaceTitle>
    <span class="title-modal">Edit interface</span>
  </ng-template>
  <ng-template #formInterfaceContent>
    <mat-tab-group animationDuration="0ms" fxFlex="auto">
      <mat-tab label="Interface">
        <form (submit)="submitInterfaceForm($event)" nz-form>
          <nz-form-item>
            <nz-form-label [nzSpan]="6">Name</nz-form-label>
            <nz-form-control [nzSpan]="18">
              <input [(ngModel)]="nameFormInterface" nz-input type="text" [ngModelOptions]="{standalone: true}">
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6">Orientation</nz-form-label>
            <nz-form-control [nzSpan]="18">
              <nz-radio-group [(ngModel)]="orientationFormInterface" [ngModelOptions]="{standalone: true}">
                <label nz-radio [nzValue]="InterfaceOrientationEnum.Input">Input</label>
                <label nz-radio [nzValue]="InterfaceOrientationEnum.Output">Output</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6">Sphere</nz-form-label>
            <nz-form-control [nzSpan]="18">
              <nz-radio-group [(ngModel)]="sphereFormInterface" [ngModelOptions]="{standalone: true}">
                <label nz-radio [nzValue]="SphereEnum.Biosphere">Biosphere</label>
                <label nz-radio [nzValue]="SphereEnum.Technosphere">Technosphere</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6">Roegen Type</nz-form-label>
            <nz-form-control [nzSpan]="18">
              <nz-radio-group [(ngModel)]="roegenTypeFormInterface" [ngModelOptions]="{standalone: true}">
                <label nz-radio [nzValue]="RoegenTypeEnum.Flow">Flow</label>
                <label nz-radio [nzValue]="RoegenTypeEnum.Fund">Fund</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6">Opposite Subs.</nz-form-label>
            <nz-form-control [nzSpan]="18">
              <nz-radio-group [(ngModel)]="oppositeSubsystemTypeFormInterface" [ngModelOptions]="{standalone: true}">
                <label nz-radio [nzValue]="ProcessorSubsystemTypeEnum.Local">Local</label>
                <label nz-radio [nzValue]="ProcessorSubsystemTypeEnum.Environment">Environment</label>
                <label nz-radio [nzValue]="ProcessorSubsystemTypeEnum.External">External</label>
                <label nz-radio [nzValue]="ProcessorSubsystemTypeEnum.ExternalEnvironment">ExternalEnvironment</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="6">Description</nz-form-label>
            <nz-form-control [nzSpan]="18">
              <textarea rows="4" nz-input [(ngModel)]="descriptionFormInterface"
                [ngModelOptions]="{standalone: true}"></textarea>
            </nz-form-control>
          </nz-form-item>
        </form>
      </mat-tab>
      <mat-tab label="Interface Values">
        <app-interfacelist [listOfData]="listInterfaceValues" [nextId]="nextIdInterfaceValues"
          (changeData)="changeListInterfaceValues($event)"></app-interfacelist>
      </mat-tab>
    </mat-tab-group>
  </ng-template>
  <ng-template #formInterfaceFooter>
    <button nz-button nzType="danger" (click)="closeModalInterface()">
      Cancel
    </button>
    <button nz-button nzType="primary" (click)="updateInterface()">
      Confirm
    </button>
  </ng-template>

  <!-- Modal Create InterfaceType -->
  <ng-template #formCreateInterfaceTypeTitle>
    <span class="title-modal">Create interface type</span>
  </ng-template>
  <ng-template #formCreateInterfaceTypeContent>
    <form (submit)="submitCreateInterfaceType($event)" nz-form>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Name</nz-form-label>
        <nz-form-control [(nzValidateStatus)]="nameValidationFormCreateInterfaceType"
          nzErrorTip="The name cannot be empty" [nzSpan]="18">
          <input autocomplete="off" [(ngModel)]="nameFormCreateInterfaceType" type="text" nz-input
            [ngModelOptions]="{standalone: true}" />
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #formCreateInterfaceTypeFooter>
    <button nz-button nzType="danger" (click)="closeModal()">
      Cancel
    </button>
    <button nz-button nzType="primary" (click)="createInterfaceType()">
      Confirm
    </button>
  </ng-template>

  <!-- Modal Exchange -->
  <ng-template #formExchangeTitle>
    <span class="title-modal">Edit exchange relationship</span>
  </ng-template>
  <ng-template #formExchangeContent>
    <form (ngSubmit)="submitExchangeForm($event)" nz-form>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Weight</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input [(ngModel)]="weightFormExchange" nz-input type="text" [ngModelOptions]="{standalone: true}">
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #formExchangeFooter>
    <button nz-button nzType="danger" (click)="closeModal()">
      Cancel
    </button>
    <button nz-button nzType="primary" (click)="updateExchange()">
      Confirm
    </button>
  </ng-template>

  <!-- Modal PartOf -->
  <ng-template #formPartOfTitle>
    <span class="title-modal">Edit partof relationship</span>
  </ng-template>
  <ng-template #formPartOfContent>
    <form (ngSubmit)="submitPartOfForm($event)" nz-form>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Amount</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input [(ngModel)]="amountFormPartOf" nz-input type="text" [ngModelOptions]="{standalone: true}">
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #formPartOFooter>
    <button nz-button nzType="danger" (click)="closeModal()">
      Cancel
    </button>
    <button nz-button nzType="primary" (click)="updatePartOf()">
      Confirm
    </button>
  </ng-template>

  <!-- Modal Scale -->
  <ng-template #formScaleTitle>
    <span class="title-modal">Edit scale relationship</span>
  </ng-template>
  <ng-template #formScaleContent>
    <form (ngSubmit)="submitScaleForm($event)" nz-form>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Scale</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input [(ngModel)]="scaleFormScale" nz-input type="text" [ngModelOptions]="{standalone: true}">
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #formScaleFooter>
    <button nz-button nzType="danger" (click)="closeModal()">
      Cancel
    </button>
    <button nz-button nzType="primary" (click)="updateScale()">
      Confirm
    </button>
  </ng-template>

  <!-- Modal InterfaceTypeScale -->
  <ng-template #formInterfaceTypeScaleTitle>
    <span class="title-modal">Edit scale relationship</span>
  </ng-template>
  <ng-template #formInterfaceTypeScaleContent>
    <form (ngSubmit)="submitInterfaceTypeScaleForm($event)" nz-form>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Dest. Context</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-select [(ngModel)]="destinationContextProcessorIdFormInterfaceTypeScale" nzAllowClear
            nzPlaceHolder="Choose" [ngModelOptions]="{standalone: true}">
            <nz-option *ngFor="let item of listProcessors" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Origin Context</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-select [(ngModel)]="originContextProcessorIdFormInterfaceTypeScale" nzAllowClear nzPlaceHolder="Choose"
            [ngModelOptions]="{standalone: true}">
            <nz-option *ngFor="let item of listProcessors" [nzValue]="item.id" [nzLabel]="item.name"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Scale</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input [(ngModel)]="scaleFormInterfaceTypeScale" nz-input type="text" [ngModelOptions]="{standalone: true}">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Destination Unit</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input [(ngModel)]="destinationUnitFormInterfaceTypeScale" nz-input type="text"
            [ngModelOptions]="{standalone: true}">
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="6">Origin Unit</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <input [(ngModel)]="originUnitFormInterfaceTypeScale" nz-input type="text"
            [ngModelOptions]="{standalone: true}">
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-template>
  <ng-template #formInterfaceTypeScaleFooter>
    <button nz-button nzType="danger" (click)="closeModal()">
      Cancel
    </button>
    <button nz-button nzType="primary" (click)="updateInterfaceTypeScale()">
      Confirm
    </button>
  </ng-template>

</div>