<div style="position: absolute; height: 100%; width: 100%;">
  <div #graphContainer style="height: 100%; overflow: auto;">
  </div>
  
  <div style="background-color: rgb(214, 214, 214);width: 40px; 
  position: absolute; top: 10px; left: 10px; border-radius: 5px; padding: 10px 5px;">
    <img #interfaceTypeToolbar src="assets/toolbar/rectangle.gif" alt="rectangle" 
    style="width: 100%; height: auto;" matTooltip="New InterfaceType" matTooltipPosition="after"/>
  
    <img class="toolbar-relationship" (click)="imageToolbarRelationshipClick($event, RelationshipType.PartOf)"
      src="assets/toolbar/arrow.png" alt="rectangle"
      style="width: 100%; height: auto; cursor: pointer; border-radius: 5px;" matTooltip="New PartOf relationship"
      matTooltipPosition="after"/>
  
    <img class="toolbar-relationship" (click)="imageToolbarRelationshipClick($event, RelationshipType.InterfaceTypeScale)"
      src="assets/toolbar/arrow.png" alt="rectangle"
      style="width: 100%; height: auto; cursor: pointer; border-radius: 5px;" matTooltip="New InterfaceTypeScale relationship"
      matTooltipPosition="after"/>
  </div>
</div>

<!-- Context Menu InterfaceType-->
<div #contextMenuInterfaceTypeTrigger="matMenuTrigger" style="visibility: hidden; position: fixed"
  [style.left]="contextMenuInterfaceTypePosition.x" [style.top]="contextMenuInterfaceTypePosition.y"
  [matMenuTriggerFor]="contextMenuInterfaceType">
</div>
<mat-menu #contextMenuInterfaceType="matMenu">
  <ng-template matMenuContent let-cell="cell">
    <button mat-menu-item (click)="onContextMenuInterfaceTypeForm(cell)">Edit</button>
    <button mat-menu-item (click)="onContextMenuInterfaceTypeRemove(cell)">Remove</button>
  </ng-template>
</mat-menu>


<!-- Context Menu PartOf-->
<div #contextMenuPartOfTrigger="matMenuTrigger" style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPartOfPosition.x" [style.top]="contextMenuPartOfPosition.y"
  [matMenuTriggerFor]="contextMenuPartOf">
</div>
<mat-menu #contextMenuPartOf="matMenu">
  <ng-template matMenuContent let-cell="cell">
    <button mat-menu-item (click)="onContextMenuPartOfForm(cell)">Edit</button>
    <button mat-menu-item (click)="onContextMenuPartOfRemove(cell)">Remove</button>
  </ng-template>
</mat-menu>

<!-- Context Menu InterfaceTypeScale-->
<div #contextMenuInterfaceTypeScaleTrigger="matMenuTrigger" style="visibility: hidden; position: fixed"
  [style.left]="contextMenuInterfaceTypeScalePosition.x" [style.top]="contextMenuInterfaceTypeScalePosition.y"
  [matMenuTriggerFor]="contextMenuInterfaceTypeScale">
</div>
<mat-menu #contextMenuInterfaceTypeScale="matMenu">
  <ng-template matMenuContent let-cell="cell">
    <button mat-menu-item (click)="onContextMenuInterfaceScaleForm(cell)">Edit</button>
    <button mat-menu-item (click)="onContextMenuInterfaceScalRemove(cell)">Remove</button>
  </ng-template>
</mat-menu>