<div style="position: absolute; height: calc(100% - 40px); width: 100%;">
  <div #graphContainer style="height: 100%; overflow: scroll;">
  </div>

  <div style="background-color: rgb(214, 214, 214);width: 40px; 
  position: absolute; top: 10px; left: 10px; border-radius: 5px; padding: 10px 5px;">

    <img #processorToolbar src="assets/toolbar/rectangle.gif" alt="rectangle"
      style="width: 100%; height: auto; cursor: pointer;" matTooltip="New Processor" matTooltipPosition="after" />

    <img class="toolbar-relationship" (click)="imageToolbarRelationshipClick($event, RelationshipType.PartOf)"
      src="assets/toolbar/partof-icon.svg" alt="arrow" style="width: 100%; height: auto; cursor: pointer; border-radius: 5px;"
      matTooltip="New PartOf relationship" matTooltipPosition="after" />

    <img class="toolbar-relationship" src="assets/toolbar/exchange-icon.svg" alt="arrow"
      (click)="imageToolbarRelationshipClick($event, RelationshipType.Exchange)"
      style="width: 100%; height: auto; cursor: pointer; border-radius: 5px;" matTooltip="New Exchange relationship"
      matTooltipPosition="after" />

    <img class="toolbar-relationship" src="assets/toolbar/scale-icon.svg" alt="arrow"
      (click)="imageToolbarRelationshipClick($event, RelationshipType.InterfaceScale)"
      style="width: 100%; height: auto; cursor: pointer; border-radius: 5px;"
      matTooltip="New InterfaceScale relationship" matTooltipPosition="after" />

  </div>
</div>

<!-- Context Menu Processor-->
<div #contextMenuProcessorTrigger="matMenuTrigger" style="visibility: hidden; position: fixed"
  [style.left]="contextMenuProcessorPosition.x" [style.top]="contextMenuProcessorPosition.y"
  [matMenuTriggerFor]="contextMenuProcessor">
</div>
<mat-menu #contextMenuProcessor="matMenu">
  <ng-template matMenuContent let-cell="cell">
    <button mat-menu-item (click)="onContextMenuProcessorForm(cell)">Edit</button>
    <button mat-menu-item (click)="onContextMenuProcessorRemove(cell)">Remove</button>
  </ng-template>
</mat-menu>

<!-- Context Menu Multiple Processor-->
<div #contextMenuMultipleProcessorTrigger="matMenuTrigger" style="visibility: hidden; position: fixed"
  [style.left]="contextMenuMultipleProcessorPosition.x" [style.top]="contextMenuMultipleProcessorPosition.y"
  [matMenuTriggerFor]="contextMenuMultipleProcessor">
</div>
<mat-menu #contextMenuMultipleProcessor="matMenu">
  <ng-template matMenuContent let-cells="cells">
    <button mat-menu-item (click)="onContextMenuMultipleProcessorRemove(cells)">Remove</button>
  </ng-template>
</mat-menu>

<!-- Context Menu PartOf-->
<div #contextMenuPartOfTrigger="matMenuTrigger" style="visibility: hidden; position: fixed"
  [style.left]="contextMenuPartOfPosition.x" [style.top]="contextMenuPartOfPosition.y"
  [matMenuTriggerFor]="contextMenuPartOf">
</div>
<mat-menu #contextMenuPartOf="matMenu">
  <ng-template matMenuContent let-cell="cell">
    <button mat-menu-item (click)="onContextMenuPartOfForm(cell)">Edit</button>
    <button mat-menu-item (click)="onContextMenuPartOfRemove(cell)">Remove</button>
  </ng-template>
</mat-menu>

<!-- Context Menu Interface Scale-->
<div #contextMenuInterfaceScaleTrigger="matMenuTrigger" style="visibility: hidden; position: fixed"
  [style.left]="contextMenuInterfaceScalePosition.x" [style.top]="contextMenuInterfaceScalePosition.y"
  [matMenuTriggerFor]="contextMenuScale">
</div>
<mat-menu #contextMenuScale="matMenu">
  <ng-template matMenuContent let-cell="cell">
    <button mat-menu-item (click)="onContextMenuInterfaceScaleForm(cell)">Edit</button>
    <button mat-menu-item (click)="onContextMenuInterfaceScaleRemove(cell)">Remove</button>
  </ng-template>
</mat-menu>

<!-- Context Menu Exchange-->
<div #contextMenuExchangeTrigger="matMenuTrigger" style="visibility: hidden; position: fixed"
  [style.left]="contextMenuExchangePosition.x" [style.top]="contextMenuExchangePosition.y"
  [matMenuTriggerFor]="contextMenuExchange">
</div>
<mat-menu #contextMenuExchange="matMenu">
  <ng-template matMenuContent let-cell="cell">
    <button mat-menu-item (click)="onContextMenuExchangeForm(cell)">Edit</button>
    <button mat-menu-item (click)="onContextMenuExchangeRemove(cell)">Remove</button>
  </ng-template>
</mat-menu>